* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_2 {
  width: 100%;
  height: 4735px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_189 {
  position: absolute;
  width: 100%;
  top: calc(50% - 114px / 2 + 2311.5px);
  background: #ffffff;
  border: 1px solid #000000;
}
.v16_191 {
  width: 301px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v16_120 {
  width: 100%;
  height: 738px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 2974px;
  left: 0px;
  overflow: hidden;
}
.v16_156 {
  width: 173px;
  height: 76px;
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 408px;
  overflow: hidden;
}
.v16_157 {
  width: 173px;
  height: 76px;
  background: url("./images/pcNoimg.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_152 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 705px;
  overflow: hidden;
}

.v16_150 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 1001px;
  overflow: hidden;
}
.v16_148 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 1298px;
  overflow: hidden;
}
.v16_146 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 408px;
  overflow: hidden;
}
.v16_144 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 705px;
  overflow: hidden;
}
.v16_142 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1001px;
  overflow: hidden;
}
.v16_140 {
  width: 173px;
  height: 76px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 1298px;
  overflow: hidden;
}
.v16_129 {
  width: 100%;
  height: 72px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 154px;
  overflow: hidden;
}
.v16_130 {
  width: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v16_131 {
  width: 100%;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v16_110 {
  width: 100%;
  height: 600px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 2374px;
  left: 0px;
  overflow: hidden;
}
.v16_115 {
  width: 750px;
  height: 440px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 970px;
  overflow: hidden;
}
.v16_116 {
  width: 750px;
  height: 440px;
  background: url("./images/pcVision.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v16_112 {
  width: 686px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 225px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_113 {
  width: 724px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: absolute;
  top: 285px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_101 {
  width: 100%;
  height: 880px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 3712px;
  left: 1px;
  overflow: hidden;
}
.v16_106 {
  width: 750px;
  height: 440px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 88px;
  overflow: hidden;
}
.v16_107 {
  width: 750px;
  height: 440px;
  background: url("./images/pcContact.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
}
.v16_103 {
  width: 686px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 139px;
  left: 88px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_104 {
  width: 804px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: absolute;
  top: 197px;
  left: 108px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_180 {
  width: 804px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: absolute;
  top: 474px;
  left: 951px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v16_175 {
  width: 100%;
  height: 440px;
  opacity: 1;
  position: absolute;
  top: 1854px;
  left: 80px;
  overflow: hidden;
}
.v16_176 {
  width: 750px;
  height: 440px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_177 {
  width: 750px;
  height: 440px;
  background: url("./images/pcInfo.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
}
.v16_178 {
  width: 686px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 145px;
  left: 964px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_179 {
  width: 804px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: absolute;
  top: 197px;
  left: 972px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v28_521 {
  width: 100%;
  height: 1611px;
  opacity: 1;
  position: absolute;
  left: 0px;
  overflow: hidden;
}
.v16_35 {
  width: 100%;
  height: 100%;
  background: url("./images/pcMain.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 0px;
  overflow: hidden;
}
.v16_53 {
  width: 508px;
  height: 380px;
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 740px;
  overflow: hidden;
}
.v16_54 {
  width: 508px;
  height: 380px;
  opacity: 0.5;
  position: relative;
  top: 0px;
  left: 0px;
  border: 16px solid rgba(255, 255, 255, 1);
  overflow: hidden;
}
.v16_55 {
  width: 417px;
  height: 242px;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 69px;
  overflow: hidden;
}
.v16_56 {
  width: 339px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Bold;
  font-size: 58px;
  opacity: 1;
  text-align: center;
}
.v16_57 {
  width: 417px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 142px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 85px;
  opacity: 1;
  text-align: left;
}
.v16_11 {
  width: 100%;
  height: 63px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_519 {
  width: 100%;
  height: 35px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 31px;
  overflow: hidden;
}
.v16_24 {
  width: 122px;
  height: 32px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 49px;
  overflow: hidden;
}
.v16_25 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Comfortaa;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v16_33 {
  width: 100px;
  height: 100px;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 46px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v16_13 {
  color: rgba(221, 214, 152, 1);
  position: absolute;
  top: 10px;
  left: 1360px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v16_14 {
  color: rgba(221, 214, 152, 1);
  position: absolute;
  top: 10px;
  left: 1468px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v16_15 {
  color: rgba(221, 214, 152, 1);
  position: absolute;
  top: 10px;
  left: 1580px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v16_16 {
  color: rgba(221, 214, 152, 1);
  position: absolute;
  top: 10px;
  left: 1723px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}

nav.navbar {
  position: fixed;
  top: -100%;
  margin-bottom: 0px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border-radius: 0px;
  transition: all 0.2s;
}

.navbar-nav {
  float: right;
}

nav.navbar.fixed-to-top {
  top: 0px;
}
nav.navbar.shadow-to-top {
  top: 0px;
  opacity: 0.4;
}

.navbar-default {
  border: none;
  border-bottom: 1px solid #eee;
  background: #fff;
  opacity: 0.95;
  display: none;
}

.navbar-default .navbar-nav > li > a {
  color: #aaa;
  font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3a3a3a;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar > .container .navbar-brand {
  margin-bottom: 0;
}

footer,
.push {
  text-align: left;
  min-height: 90px;
}

footer,
.made {
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  min-height: 90px;
}

button {
  display: inline-block;
  margin-bottom: 0;
  margin-bottom: 10px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.428571429;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.visibility {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

@media (max-width: 768px) {
  body {
    font-family: sans-serif;
    font-size: 16px;
  }
  button {
    display: none;
  }
  .v15_2 {
    position: relative;
    width: 768px;
    height: 1138px;

    background: #ffffff;
  }
  .v16_35 {
    position: absolute;
    width: 768px;
    height: 204.09px;
    left: 0px;
    top: 75px;

    background: url("./images/main_m.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .v16_175 {
    position: absolute;
    width: 768px;
    height: 204.09px;
    left: 0px;
    top: 266.09px;
  }
  .v16_176 {
    position: absolute;
    width: 785px;
    height: 191px;
    left: 0px;
    top: 12.91px;
  }
  .v16_177 {
    width: 768px;
    height: 1020px;
    background: url("./images/Info_m.png");
    background-repeat: no-repeat;
  }
  .v16_178 {
    position: absolute;
    height: 12px;
    left: 364.85px;
    top: 25px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_179 {
    position: absolute;
    width: 380px;
    height: 103px;
    left: calc(50% - 420px / 2 + 191px);
    top: calc(50% - 103px / 2 + 18.37px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 171% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_110 {
    position: absolute;
    width: 768px;
    height: 204.09px;
    left: 0px;
    top: 470.18px;
  }
  .v16_115 {
    position: absolute;
    width: 380px;
    height: 204px;
    left: 388px;
    top: -0.18px;
  }
  .v16_116 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url("./images/vision_m.png");
  }
  .v16_112 {
    position: absolute;
    width: 326.47px;
    height: 14.07px;
    left: 18px;
    top: 56.68px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
    /* or 120% */

    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_113 {
    position: absolute;
    width: 350px;
    height: 19.15px;
    left: 6px;
    top: 80.14px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 171% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_120 {
    width: 768px;
    height: 204.09px;
    left: 0px;
    top: 677.82px;
  }
  .v16_156 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 51.1px;
    top: 82.11px;
  }
  .v16_157 {
    position: absolute;
    left: 6.65%;
    right: 79.17%;
    top: 0px;
    bottom: 41.65%;

    background: url("./images/noimg_m.png");
  }
  .v16_152 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 611.14px;
    top: 150.21px;
  }

  .v16_150 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 611.14px;
    top: 82.11px;
  }
  .v16_148 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 424.25px;
    top: 82.11px;
  }
  .v16_146 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 237.99px;
    top: 82.11px;
  }
  .v16_144 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 51.1px;
    top: 150.21px;
  }
  .v16_142 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 237.99px;
    top: 150.21px;
  }
  .v16_140 {
    position: absolute;
    width: 108.86px;
    height: 36.97px;
    left: 424.25px;
    top: 150.21px;
  }
  .v16_129 {
    position: absolute;
    width: 768px;
    height: 71.29px;
    left: 0px;
    top: 0.18px;
  }
  .v16_130 {
    position: absolute;
    left: 40%;
    right: 0%;
    top: 24.13%;
    bottom: 27.62%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 12px;
    /* or 120% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_131 {
    position: absolute;
    left: 25%;
    right: 0%;
    top: 30%;
    bottom: -28.61%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
    /* or 171% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_101 {
    position: absolute;
    width: 768px;
    height: 188px;
    left: 0px;
    top: 882px;
  }
  .v16_106 {
    position: absolute;
    width: 351px;
    height: 134px;
    left: 0px;
    top: 51px;
  }
  .v16_107 {
    width: 750px;
    height: 440px;
    background: url("./images/contact_m.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
  }
  .v16_103 {
    position: absolute;
    width: 345.46px;
    height: 11.59px;
    left: 17.91px;
    top: 2px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    /* identical to box height, or 75% */

    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_104 {
    position: absolute;
    height: 32.19px;
    left: calc(50% - 404.89px / 2 - 163.56px);
    top: calc(50% - 32.19px / 2 - 60.91px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 75% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_180 {
    position: absolute;
    width: 404.89px;
    height: 51.5px;
    left: calc(50% - 404.89px / 2 + 181.56px);
    top: calc(50% - 51.5px / 2 + 12.45px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    /* or 171% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  footer,
  .push {
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    width: 767.96px;
    height: 49.43px;
    left: 1px;
    top: 1080px;
  }
  footer,
  .made {
    font-family: sans-serif;
    font-size: 16px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width: 992px) {
  .detail .carousel h1,
  .detail p {
    text-align: center;
  }

  .detail p {
    margin-bottom: 60px;
  }

  header,
  .social {
    background-position-y: 0px;
    background-size: 200%;
  }

  .payoff {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 200px;
  }

  .payoff h1 {
    font-size: 24px;
  }

  .features .col-md-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 480px) {
  body {
    font-family: sans-serif;
  }
  button {
    display: none;
  }
  .v15_2 {
    position: relative;
    width: 480px;
    height: 960px;

    background: #ffffff;
  }
  .v16_35 {
    width: 480px;
    height: 172px;
    background: url("./images/main_s.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 70px;
    left: 0px;
    overflow: hidden;
  }
  .v16_175 {
    width: 480px;
    height: 172px;
    left: 0px;
    top: 234px;
  }
  .v16_176 {
    width: 153px;
    height: 142px;
    left: 0px;
    top: 13px;
  }
  .v16_177 {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url("./images/Info_s.png");
  }
  .v16_178 {
    position: absolute;
    left: 180px;
    top: 27px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_179 {
    position: absolute;
    width: 250px;
    height: 103px;
    left: 180px;
    top: calc(50% - 103px / 2 + 17.5px);

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 12px;
    /* or 171% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_110 {
    position: absolute;
    width: 480px;
    height: 172px;
    left: 0px;
    top: 406px;
  }
  .v16_115 {
    position: absolute;
    width: 250px;
    height: 172px;
    left: 250px;
    top: 0px;
  }
  .v16_116 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url("./images/vision_s.png");
  }
  .v16_112 {
    position: absolute;
    width: 156.86px;
    height: 14.07px;
    left: 6px;
    top: 56.68px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 12px;
    /* or 120% */

    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_113 {
    position: absolute;
    width: 165.55px;
    height: 19.15px;
    left: 6px;
    top: 80.14px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 12px;
    /* or 171% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_120 {
    position: absolute;
    width: 480px;
    height: 172px;
    left: 0px;
    top: 581px;
  }
  .v16_156 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 42.43px;
    top: 84.4px;
  }
  .v16_157 {
    position: absolute;
    left: 11.31%;
    right: 76.26%;
    top: 0px;
    bottom: 35.67%;
    background: url("./images/noimg_s.png");
  }
  .v16_152 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 282.19px;
    top: 132.75px;
  }

  .v16_150 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 122.44px;
    top: 84.4px;
  }
  .v16_148 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 202.18px;
    top: 84.4px;
  }
  .v16_146 {
    width: 46.61px;
    height: 26.25px;
    left: 282.19px;
    top: 84.4px;
  }
  .v16_144 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 42.43px;
    top: 132.75px;
  }
  .v16_142 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 122.44px;
    top: 132.75px;
  }
  .v16_140 {
    position: absolute;
    width: 46.61px;
    height: 26.25px;
    left: 202.18px;
    top: 132.75px;
  }
  .v16_129 {
    position: absolute;
    width: 480px;
    height: 60px;
    left: 0px;
    top: 0px;
  }
  .v16_130 {
    position: absolute;
    left: 40%;
    right: 0%;
    top: 24.13%;
    bottom: 27.62%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* or 120% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_131 {
    position: absolute;
    left: 20%;
    right: 0%;
    top: 30%;
    bottom: -28.61%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 12px;
    /* or 171% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_101 {
    position: absolute;
    width: 480px;
    height: 172px;
    left: 0px;
    top: 753px;
  }
  .v16_106 {
    position: absolute;
    width: 168.72px;
    height: 128.27px;
    left: 0px;
    top: 43.73px;
  }
  .v16_107 {
    width: 750px;
    height: 440px;
    background: url("./images/contact_s.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
  }
  .v16_103 {
    position: absolute;
    width: 154.32px;
    height: 10.49px;
    left: 8px;
    top: 4px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* or 120% */

    letter-spacing: -0.015em;

    color: #000000;
  }
  .v16_104 {
    position: absolute;
    height: 29.15px;
    left: calc(50% - 180.86px / 2 - 88.57px);
    top: calc(50% - 29.15px / 2 - 54.52px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 12px;
    /* or 171% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  .v16_180 {
    position: absolute;
    width: 180.86px;
    height: 46.64px;
    left: calc(50% - 180.86px / 2 + 74.07px);
    top: calc(50% - 46.64px / 2 + 34.98px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 12px;
    /* or 171% */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
  }
  footer,
  .push {
    font-family: sans-serif;
    font-size: 9px;
    position: absolute;
    height: 12px;
    left: 0px;
    top: 925px;
  }
  footer,
  .made {
    font-family: sans-serif;
    font-size: 9px;
  }
}
