* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v16_2 {
    width: 100%;
    height: 592px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_3 {
    width: 100%;
    height: 510px;
    background: url("../images/v16_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 11px;
    overflow: hidden;
  }
  .v16_23 {
    width: 369px;
    height: 47px;
    background: url("../images/v16_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 463px;
    left: 312px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v16_24 {
    width: 369px;
    height: 46px;
    background: rgba(221,214,153,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v16_25 {
    width: 107px;
    color: rgba(55,55,55,1);
    position: absolute;
    top: 0px;
    left: 132px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v17_77 {
    width: 844px;
    height: 153px;
    background: url("../images/v17_77.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 295px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v17_79 {
    width: 844px;
    height: 100px;
    background: url("../images/v17_79.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 53px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v17_80 {
    width: 140px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1px;
    overflow: hidden;
  }
  .v17_82 {
    width: 65px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8px;
    left: 37px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_26 {
    width: 100%;
    height: 33px;
    background: url("../images/v16_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 237px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v16_28 {
    width: 604px;
    height: 33px;
    background: url("../images/v16_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 400px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_29 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_30 {
    width: 141px;
    height: 45px;
    background: url("../images/v16_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 20px 10px rgba(1, 0, 0, 0.5);
    overflow: hidden;
  }
  .v16_31 {
    width: 39px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 174px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_32 {
    width: 100%;
    height: 34px;
    background: url("../images/v16_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v16_34 {
    width: 604px;
    height: 33px;
    background: url("../images/v16_34.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 400px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_35 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_36 {
    width: 141px;
    height: 45px;
    background: url("../images/v16_36.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 20px 10px rgba(1, 0, 0, 0.5);
    overflow: hidden;
  }
  .v16_37 {
    width: 39px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 174px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_38 {
    width: 100%;
    height: 33px;
    background: url("../images/v16_38.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 158px;
    left: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v16_39 {
    width: 16px;
    height: 16px;
    background: rgba(221,214,153,1);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 988px;
    transform: rotate(-178deg);
  }
  .v16_40 {
    width: 604px;
    height: 33px;
    background: url("../images/v16_40.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 399px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_41 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_42 {
    width: 141px;
    height: 45px;
    background: url("../images/v16_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 20px 10px rgba(1, 0, 0, 0.5);
    overflow: hidden;
  }
  .v16_43 {
    width: 39px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 174px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_44 {
    width: 100%;
    height: 33px;
    background: url("../images/v16_44.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 118px;
    left: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v16_46 {
    width: 604px;
    height: 33px;
    background: url("../images/v16_46.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 399px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_47 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_48 {
    width: 141px;
    height: 45px;
    background: url("../images/v16_48.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 20px 10px rgba(1, 0, 0, 0.5);
    overflow: hidden;
  }
  .v16_49 {
    width: 39px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 174px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_50 {
    width: 100%;
    height: 33px;
    background: url("../images/v16_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 79px;
    left: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v16_52 {
    width: 604px;
    height: 33px;
    background: url("../images/v16_52.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 399px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_53 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_54 {
    width: 141px;
    height: 45px;
    background: url("../images/v16_54.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 20px 10px rgba(1, 0, 0, 0.5);
    overflow: hidden;
  }
  .v16_55 {
    width: 39px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    left: 174px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_56 {
    width: 100%;
    height: 33px;
    background: url("../images/v16_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v16_58 {
    width: 604px;
    height: 33px;
    background: url("../images/v16_58.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 398px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_59 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_60 {
    width: 141px;
    height: 45px;
    background: url("../images/v16_60.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 20px 10px rgba(1, 0, 0, 0.5);
    overflow: hidden;
  }
  .v16_61 {
    width: 39px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 174px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  .v16_71 {
    width: 388px;
    height: 33px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v16_73 {
    width: 604px;
    height: 33px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 398px;
    border: 1px solid rgba(221,214,153,1);
    overflow: hidden;
  }
  .v16_74 {
    width: 388px;
    height: 32px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v16_76 {
    width: 58px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7px;
    left: 164px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  